<h2><%= l('mail_receiver.settings.incoming_mails') %></h2>

<fieldset>
  <legend><%= l('mail_receiver.settings.incoming_mails') %></legend>
  <table class="form">
    <tr><th><%= l('mail_receiver.settings.imap_host') %></th><td><%= text_field_tag 'settings[imap_host]', @settings['imap_host'] %></td></tr>
    <tr><th><%= l('mail_receiver.settings.imap_port') %></th><td><%= text_field_tag 'settings[imap_port]', @settings['imap_port'] %></td></tr>
    <tr><th><%= l('mail_receiver.settings.imap_ssl') %></th><td><%= select_tag 'settings[imap_ssl]', options_for_select([['Ja','true'],['Nein','false']], @settings['imap_ssl']) %></td></tr>
    <tr><th><%= l('mail_receiver.settings.imap_user') %></th><td><%= text_field_tag 'settings[imap_user]', @settings['imap_user'] %></td></tr>
    <tr><th><%= l('mail_receiver.settings.imap_password') %></th><td><%= password_field_tag 'settings[imap_password]', @settings['imap_password'] %></td></tr>
    <tr><th><%= l('mail_receiver.settings.interval_seconds') %></th><td><%= text_field_tag 'settings[interval_seconds]', @settings['interval_seconds'] %></td></tr>
    <tr><th><%= l('mail_receiver.settings.default_project') %></th><td><%= text_field_tag 'settings[default_project]', @settings['default_project'] %></td></tr>
    <tr>
      <th><%= l('mail_receiver.settings.no_ticket_mode') %></th>
      <td>
        <%= radio_button_tag 'settings[no_ticket_mode]', 'comment', @settings['no_ticket_mode'] == 'comment' %> <%= l('mail_receiver.settings.no_ticket_comment') %>
        <%= text_field_tag 'settings[fallback_issue_id]', @settings['fallback_issue_id'], placeholder: l('mail_receiver.settings.fallback_issue_id') %><br>
        <%= radio_button_tag 'settings[no_ticket_mode]', 'new_ticket', @settings['no_ticket_mode'] == 'new_ticket' %> <%= l('mail_receiver.settings.no_ticket_new') %>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= l('mail_receiver.settings.manual_import') %></legend>
  <table class="form">
    <tr><th><%= l('mail_receiver.settings.import_format') %></th><td><%= select_tag 'settings[import_format]', options_for_select([['Plain Text','plain_text'],['Raw MIME','raw_mime']], @settings['import_format']), class: 'import-format-select' %></td></tr>
    <tr><th><%= l('mail_receiver.settings.manual_import_count') %></th><td><%= text_field_tag 'settings[manual_import_count]', @settings['manual_import_count'] %></td></tr>
    <tr>
      <th><%= l('mail_receiver.settings.manual_import_action') %></th>
      <td>
        <div class="manual-import-form">
          <%= number_field_tag :import_count, @settings['manual_import_count'], min: 1, max: 100 %>
          <button type="button" onclick="performManualImport()" class="button-positive"><%= l('mail_receiver.settings.import_button') %></button>
        </div>
        <span class="import-help-text">
          <%= l('mail_receiver.settings.import_help') %>
        </span>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= l('mail_receiver.settings.reminder_mails') %></legend>
  <table class="form">
    <tr><th><%= l('mail_receiver.settings.reminder_enabled') %></th><td><%= check_box_tag 'settings[reminder_enabled]', 'true', @settings['reminder_enabled'] == 'true' %></td></tr>
    <tr><th><%= l('mail_receiver.settings.reminder_time') %></th><td><%= text_field_tag 'settings[reminder_time]', @settings['reminder_time'] %></td></tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= l('mail_receiver.settings.mail_log') %></legend>
  <table class="form">
    <tr><th><%= l('mail_receiver.settings.log_level') %></th><td><%= select_tag 'settings[log_level]', options_for_select([['Debug','debug'],['Info','info'],['Warn','warn'],['Error','error']], @settings['log_level']), class: 'log-level-select' %></td></tr>
  </table>
  <div class="mail-receiver-log">
    <% if (@settings['mail_log'] || []).empty? %>
      <div><%= l('mail_receiver.settings.log_empty') %></div>
    <% else %>
      <% (@settings['mail_log'] || []).reverse.each do |line| %>
        <% css_class = case line
           when /\[ERROR\]/ then 'log-error'
           when /\[WARN\]/ then 'log-warn'
           when /\[INFO\]/ then 'log-info'
           when /\[DEBUG\]/ then 'log-debug'
           else ''
           end %>
        <div class="<%= css_class %>"><%= line %></div>
      <% end %>
    <% end %>
  </div>
  <div class="clear-log-button">
    <button type="button" onclick="clearLog()" class="button"><%= l('mail_receiver.settings.clear_log') %></button>
  </div>
</fieldset>

<script>
function performManualImport() {
  var count = document.getElementById('import_count').value;
  if (count < 1 || count > 100) {
    alert('Bitte geben Sie eine Zahl zwischen 1 und 100 ein.');
    return;
  }
  
  if (confirm('Möchten Sie wirklich ' + count + ' Mails importieren?')) {
    // Hier würde normalerweise ein AJAX-Call stehen
    // Für jetzt zeigen wir nur eine Bestätigung
    alert('Manueller Import gestartet für ' + count + ' Mails. Bitte überprüfen Sie das Log.');
  }
}

function clearLog() {
  if (confirm('<%= l('mail_receiver.settings.clear_log_confirm') %>')) {
    // Hier würde normalerweise ein AJAX-Call stehen
    // Für jetzt zeigen wir nur eine Bestätigung
    alert('Log wurde geleert.');
    location.reload();
  }
}
</script>